$pigment-green: #00A650;
$pigment-green-20: #00A650 20%;
$pigment-green-30: #00A650 30%;
$pigment-green-0: #00A650 0%;
$jonquil: #FECE00;
$eerie-black : #232323;
$white: #FFFFFF;
$pigment-green-dark: #004622;
$green-light: #E6F6EE;
$nav-bar-option-color: #007639;
$eerie-black-shade-70: #232323b3;
$btn-radius: 2.5rem;
$btn-primary-radius: 3rem;
$galery-issues-border-radius : 0.5rem;
$galery-images-radius : 0.5rem;
$btn-secondary-text-size:20px;
$form-place-holder-color: #9ea8b1;